body {
	
	
	margin : 0;
    padding : 0 ;
    color : white ;
	font-family : century Gothic ;
  background-color: cadetblue;

 
}

.heading {

  font-size: 20px;
  margin: 1px;
  margin-bottom: 10px;
  padding: 1px;
 
}


.navbar {
	
	float : left;
	color : white ;
	
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 1px;
  padding: 10px 20px;
  border: 1px transparent #fff ;
  transition: 0.4s ease;       
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #ddd;
  color: black;
}


h3 {
	
  font-size: 40px;
	margin-top : 250px;
	margin-left : 35%;
	
}

.btn {
  
	margin-top : 10px;
	margin-left : 50%;
  margin-bottom: 40%; 
  
}

.btn a {

  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid;
  padding: 10px 12px;
 
}

.btn a:hover{

  background-color: #ddd;
  color: black;
}

.welcomimg img {

	margin-top : 5px;
	margin-left : 44%;
	
}